@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

body {
    background-color: black;
}

.main {
    background-image: url(assets/bg2.jpg);
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    background-position: center center;
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.70;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

nav img {
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 1;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;

    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 800;
    font-size: 45px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.separation {
    height: 8px;
    background-image: linear-gradient(to right, rgb(25, 10, 10), #f50707, #8800ff, rgb(13, 10, 25));
    position: relative;
    z-index: 20;
}

.btn-sn:hover {
    background-color: rgb(205, 10, 20);
    border: 1px solid rgb(205, 10, 20);
}

.btn-en {
    background-color: rgba(22, 22, 22, 0.3);
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #8080809e;
    padding: 5px 35px;
    cursor: pointer;
}

.btn-sn {
    transition: all 220ms ease-in;
    background-color: red;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid red;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.btn-get:hover {
    background-color: rgb(205, 10, 20);
    border: 1px solid rgb(205, 10, 20);
}

.btn-get {
    transition: all 220ms ease-in;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 1px solid red;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 28px;
    cursor: pointer;
}

.hero-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.main input {
    background-color: rgba(22, 22, 22, 0.3);
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #8080809e;
    padding: 12px 105px 13px 11px;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    padding: 10px;
}

@media screen and (max-width: 1300px) {
    .first {
        flex-wrap: wrap;
    }
}

.secImg {
    position: relative;
}

.secImg video {
    position: absolute;
    top: 86px;
    right: 8px;
    width: 478px;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

section.first>div {
    display: flex;
    flex-direction: column;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: 600;
}

section.first>div :nth-child(2) {
    font-size: 18px;
}

.second img {
    bottom: 10px;
}

.third>div video {
    top: 72px;
    right: 77px;
    width: 476px;
}

.faq h2 {
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 38px;
}

.faqbox:hover {
    background-color: #414141;

}

.faqbox {
    transition: all 250ms ease-in;
    display: flex;
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 18px;
    max-width: 70vw;
    margin: 10px auto;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 55px;
    cursor: pointer;
}

.bottom span {
    color: white;
}

.bottom input {
    background-color: rgba(22, 22, 22, 0.3);
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #8080809e;
    padding: 12px 320px 13px 11px;
    color: white;
}

.bottom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 80vw;
    margin: auto;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1300px) {
    .footer {

        grid-template-columns: 1fr 1fr;

    }
}

.footer-item a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-item {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 14px;
}

.que {
    padding: 34px 0;
}

.end {
    color: rgba(255, 255, 255, 0.7);
}

.protect {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
}